[submodule "Sputnik"]
	path = Sputnik
	url = C:/Users/michael/workspace/Sputnik
[submodule "PresenceMod"]
	path = PresenceMod
	url = https://github.com/mjohnsonjr/PresenceMod.git
	branch = master
[submodule "Fast"]
	path = Fast
	url = C:/Users/michael/workspaceLUNA/Fast


[submodule "Rails"]
	path = Rails
	url = https://www.github.com/mjohnsonjr/Rails
